{% extends "inicio.html" %}
{% load static %}
{% block content %}
    <style>
        .helptext {
            display: none;
        }
        
    </style>
    <div class="container my-5 d-flex justify-content-center">
        <div class="row w-100">
            <!-- Sección de imagen a la izquierda -->
            <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center bg-image" style="background-image: url('https://source.unsplash.com/random'); background-size: cover; background-position: center; color: white;">
                <div class="text-center p-5 bg-overlay">
                    <img src="{% static 'imag/data.jpg' %}" class="img-fluid " alt="Imagen motivacional">
                    <h2 class="mb-3" style="color: #f8f8f8;">Unete a nuestro Equipo</h2>
                    <i class="fas fa-rocket fa-5x mt-3"></i>
                </div>
            </div>
            <!-- Sección de formulario a la derecha -->
            <div class="col-md-6">
                <div class="card shadow-lg border-0">
                    <div class="card-header text-center text-white" style="background: linear-gradient(90deg, #ff6b6b, #f06595);">
                        <h1 class="display-4">Registro</h1>
                    </div>
                    <div class="card-body p-4">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.as_p }}
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-lg mt-3" style="background: linear-gradient(90deg, #ff6b6b, #f06595); border: none;">Registrarse</button>
                            </div>
                        </form>
                        <div class="text-center mt-3">
                            <a href="{% url 'inicio' %}" class="btn btn-secondary btn-lg mt-3" style="background: linear-gradient(90deg, #ff4b2b, #ff1053); border: none; color: white;">Volver al inicio</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
