{% extends "inicio.html" %}
{% load static %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="bg-gradient p-6 rounded-lg shadow-md text-black text-center" style="background: linear-gradient(to right, #ff6b6b, #f06595);">
                <h1 class="display-4 font-weight-bold mb-4 text-white">Contactos</h1>
            </div>
            <form class="bg-gradient p-8 rounded-lg shadow-lg border-0 mt-4" method='POST'>
                {% if 'ok' in request.GET %}
                    <p class="alert alert-success text-center">Información de usuario enviada correctamente</p>
                {% endif %}
                {% csrf_token %}
                <div class="form-group mb-4 text-center">
                    <label for="nombre" class="form-label text-white">Nombre</label>
                    <input type="text" class="form-control form-control-lg" id="nombre" name="nombre" required>
                </div>
                <div class="form-group mb-4 text-center">
                    <label for="apellido" class="form-label text-white ">Apellido</label>
                    <input type="text" class="form-control form-control-lg" id="apellido" name="apellido" required>
                </div>
                <div class="form-group mb-4 text-center">
                    <label for="email" class="form-label text-white ">Email</label>
                    <input type="email" class="form-control form-control-lg" id="email" name="email" required>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary btn-lg mt-3" style="background: linear-gradient(90deg, #ff6b6b, #f06595); border: none;" type="submit" value="Enviar">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
